body{
  background-color: aqua;
}
.header{
  color: red;
  font-size: 40px;
  width: auto;
  text-align: center;
}
/* Инпат стайл */
.input_file{
  width: 300px;
  height: auto;
  background-color: #852020;
}
.main-block{
  width: 500px;
  height: 500px;
  background-color: #aaaaaa;
}
.info-card{
  width: 100px;
  height: auto;
  background-color: #6b1c1c;
}